Web References/pbx_wsdl/pbx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inno="http://innovaphone.com/pbx" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="pbx" targetNamespace="http://innovaphone.com/pbx" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>This is the innovaphone PBX WSDL file version 500 (as returned in VersionResponse)</documentation>
  <types>
    <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://innovaphone.com/pbx">
      <xsd:complexType name="Info">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="vali" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="vals" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InfoArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="inno:Info" />
            </xsd:sequence>
            <xsd:attribute wsdl:arrayType="inno:Info[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="No">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cn" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="dn" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="e164" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="h323" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NoArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="inno:No" />
            </xsd:sequence>
            <xsd:attribute wsdl:arrayType="inno:No[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Group">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="group" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="active" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GroupArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="inno:Group" />
            </xsd:sequence>
            <xsd:attribute wsdl:arrayType="inno:Group[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CallInfo">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="call" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="reg" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="active" type="xsd:boolean" />
          <xsd:element minOccurs="1" maxOccurs="1" name="state" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="No" type="inno:NoArray" />
          <xsd:element minOccurs="1" maxOccurs="1" name="msg" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="info" type="inno:InfoArray" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CallInfoArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="inno:CallInfo" />
            </xsd:sequence>
            <xsd:attribute wsdl:arrayType="inno:CallInfo[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UserInfo">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="guid" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="active" type="xsd:boolean" />
          <xsd:element minOccurs="1" maxOccurs="1" name="state" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="channel" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="alert" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cn" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="dn" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="e164" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="h323" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="groups" type="inno:GroupArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="info" type="inno:InfoArray" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UserInfoArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="inno:UserInfo" />
            </xsd:sequence>
            <xsd:attribute wsdl:arrayType="inno:UserInfo[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RegInfo">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="active" type="xsd:boolean" />
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="reg" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="hw" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="soap" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="info" type="inno:InfoArray" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegInfoArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="inno:RegInfo" />
            </xsd:sequence>
            <xsd:attribute wsdl:arrayType="inno:RegInfo[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AnyInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="user" type="inno:UserInfoArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="call" type="inno:CallInfoArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reg" type="inno:RegInfoArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="info" type="inno:InfoArray" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="VersionRequest">
    <documentation>Queries the PBX for various version information</documentation>
  </message>
  <message name="VersionResponse">
    <documentation>Returns various version information</documentation>
    <part name="WSDLVersion" type="xsd:int">
      <documentation>defines the supported innovaphone PBX WSDL file version, function return value e.g. in C#</documentation>
    </part>
    <part name="GatekeeperID" type="xsd:string">
      <documentation>the PBX's gatekeeper ID</documentation>
    </part>
    <part name="Location" type="xsd:string">
      <documentation>the PBX's location name</documentation>
    </part>
    <part name="FirmwareVersion" type="xsd:string">
      <documentation>the PBX's platform firmware version (e.g. "V5.00 hotfix IP400[03-5315]")</documentation>
    </part>
    <part name="SerialNumber" type="xsd:string">
      <documentation>the PBX's platform serial number (e.g. "00-90-33-00-00-2d")</documentation>
    </part>
  </message>
  <message name="EchoRequest">
    <part name="session" type="xsd:int" />
    <part name="key" type="xsd:int" />
  </message>
  <message name="EchoResponse">
    <part name="return" type="xsd:int" />
  </message>
  <message name="AdminRequest">
    <part name="xml" type="xsd:string" />
  </message>
  <message name="AdminResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="InitializeRequest">
    <part name="user" type="xsd:string" />
    <part name="appl" type="xsd:string" />
    <part name="v" type="xsd:boolean" />
    <part name="v501" type="xsd:boolean" />
  </message>
  <message name="InitializeResponse">
    <part name="return" type="xsd:int" />
    <part name="key" type="xsd:int" />
  </message>
  <message name="EndRequest">
    <part name="session" type="xsd:int" />
  </message>
  <message name="EndResponse" />
  <message name="PollRequest">
    <part name="session" type="xsd:int" />
  </message>
  <message name="PollResponse">
    <part name="return" type="inno:AnyInfo" />
  </message>
  <message name="LicenseRequest">
    <part name="session" type="xsd:int" />
    <part name="name" type="xsd:string" />
  </message>
  <message name="LicenseResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="CallsRequest">
    <part name="session" type="xsd:int" />
    <part name="user" type="xsd:string" />
  </message>
  <message name="CallsResponse">
    <part name="return" type="inno:CallInfoArray" />
  </message>
  <message name="UserInitializeRequest">
    <part name="session" type="xsd:int" />
    <part name="user" type="xsd:string" />
    <part name="xfer" type="xsd:boolean" />
  </message>
  <message name="UserInitializeResponse">
    <part name="return" type="xsd:int" />
  </message>
  <message name="UserEndRequest">
    <part name="user" type="xsd:int" />
  </message>
  <message name="UserEndResponse" />
  <message name="UserCallRequest">
    <part name="user" type="xsd:int" />
    <part name="cn" type="xsd:string" />
    <part name="e164" type="xsd:string" />
    <part name="h323" type="xsd:string" />
    <part name="reg" type="xsd:int" />
    <part name="info" type="inno:InfoArray" />
  </message>
  <message name="UserCallResponse">
    <part name="return" type="xsd:int" />
  </message>
  <message name="UserClearRequest">
    <part name="call" type="xsd:int" />
    <part name="cause" type="xsd:int" />
    <part name="info" type="inno:InfoArray" />
  </message>
  <message name="UserClearResponse" />
  <message name="UserConnectRequest">
    <part name="call" type="xsd:int" />
  </message>
  <message name="UserConnectResponse" />
  <message name="UserPickupRequest">
    <part name="user" type="xsd:int" />
    <part name="cn" type="xsd:string" />
    <part name="call" type="xsd:int" />
    <part name="group" type="xsd:string" />
    <part name="reg" type="xsd:int" />
    <part name="info" type="inno:InfoArray" />
  </message>
  <message name="UserPickupResponse">
    <part name="return" type="xsd:int" />
  </message>
  <message name="UserRedirectRequest">
    <part name="call" type="xsd:int" />
    <part name="cn" type="xsd:string" />
    <part name="e164" type="xsd:string" />
    <part name="h323" type="xsd:string" />
    <part name="info" type="inno:InfoArray" />
  </message>
  <message name="UserRedirectResponse">
    <part name="return" type="xsd:boolean" />
  </message>
  <message name="UserRerouteRequest">
    <part name="call" type="xsd:int" />
    <part name="cn" type="xsd:string" />
    <part name="e164" type="xsd:string" />
    <part name="h323" type="xsd:string" />
    <part name="info" type="inno:InfoArray" />
  </message>
  <message name="UserRerouteResponse">
    <part name="return" type="xsd:boolean" />
  </message>
  <message name="UserTransferRequest">
    <part name="a" type="xsd:int" />
    <part name="b" type="xsd:int" />
  </message>
  <message name="UserTransferResponse" />
  <message name="UserCtCompleteRequest">
    <part name="call" type="xsd:int" />
    <part name="e164" type="xsd:string" />
    <part name="h323" type="xsd:string" />
  </message>
  <message name="UserCtCompleteResponse" />
  <message name="UserHoldRequest">
    <part name="call" type="xsd:int" />
  </message>
  <message name="UserHoldResponse" />
  <message name="UserRetrieveRequest">
    <part name="call" type="xsd:int" />
  </message>
  <message name="UserRetrieveResponse" />
  <message name="UserParkRequest">
    <part name="call" type="xsd:int" />
    <part name="cn" type="xsd:string" />
    <part name="position" type="xsd:int" />
  </message>
  <message name="UserParkResponse">
    <part name="return" type="xsd:int" />
  </message>
  <message name="UserLocalNumRequest">
    <part name="user" type="xsd:int" />
    <part name="num" type="xsd:string" />
  </message>
  <message name="UserLocalNumResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="FindUserRequest">
    <part name="v501" type="xsd:string" />
    <part name="cn" type="xsd:string" />
    <part name="h323" type="xsd:string" />
    <part name="e164" type="xsd:string" />
    <part name="count" type="xsd:int" />
    <part name="next" type="xsd:int" />
  </message>
  <message name="FindUserResponse">
    <part name="return" type="inno:UserInfoArray" />
  </message>
  <message name="LocationUrlRequest">
    <part name="v501" type="xsd:string" />
    <part name="loc" type="xsd:string" />
  </message>
  <message name="LocationUrlResponse">
    <part name="return" type="xsd:string" />
  </message>
  <portType name="pbxPortType">
    <operation name="Version">
      <documentation>Queries various version information from the PBX</documentation>
      <input message="inno:VersionRequest" />
      <output message="inno:VersionResponse" />
    </operation>
    <operation name="Echo">
      <input message="inno:EchoRequest" />
      <output message="inno:EchoResponse" />
    </operation>
    <operation name="Admin">
      <input message="inno:AdminRequest" />
      <output message="inno:AdminResponse" />
    </operation>
    <operation name="Initialize">
      <input message="inno:InitializeRequest" />
      <output message="inno:InitializeResponse" />
    </operation>
    <operation name="End">
      <input message="inno:EndRequest" />
      <output message="inno:EndResponse" />
    </operation>
    <operation name="Poll">
      <input message="inno:PollRequest" />
      <output message="inno:PollResponse" />
    </operation>
    <operation name="License">
      <input message="inno:LicenseRequest" />
      <output message="inno:LicenseResponse" />
    </operation>
    <operation name="Calls">
      <input message="inno:CallsRequest" />
      <output message="inno:CallsResponse" />
    </operation>
    <operation name="UserInitialize">
      <input message="inno:UserInitializeRequest" />
      <output message="inno:UserInitializeResponse" />
    </operation>
    <operation name="UserEnd">
      <input message="inno:UserEndRequest" />
      <output message="inno:UserEndResponse" />
    </operation>
    <operation name="UserCall">
      <input message="inno:UserCallRequest" />
      <output message="inno:UserCallResponse" />
    </operation>
    <operation name="UserClear">
      <input message="inno:UserClearRequest" />
      <output message="inno:UserClearResponse" />
    </operation>
    <operation name="UserConnect">
      <input message="inno:UserConnectRequest" />
      <output message="inno:UserConnectResponse" />
    </operation>
    <operation name="UserPickup">
      <input message="inno:UserPickupRequest" />
      <output message="inno:UserPickupResponse" />
    </operation>
    <operation name="UserRedirect">
      <input message="inno:UserRedirectRequest" />
      <output message="inno:UserRedirectResponse" />
    </operation>
    <operation name="UserReroute">
      <input message="inno:UserRerouteRequest" />
      <output message="inno:UserRerouteResponse" />
    </operation>
    <operation name="UserTransfer">
      <input message="inno:UserTransferRequest" />
      <output message="inno:UserTransferResponse" />
    </operation>
    <operation name="UserCtComplete">
      <input message="inno:UserCtCompleteRequest" />
      <output message="inno:UserCtCompleteResponse" />
    </operation>
    <operation name="UserHold">
      <input message="inno:UserHoldRequest" />
      <output message="inno:UserHoldResponse" />
    </operation>
    <operation name="UserRetrieve">
      <input message="inno:UserRetrieveRequest" />
      <output message="inno:UserRetrieveResponse" />
    </operation>
    <operation name="UserPark">
      <input message="inno:UserParkRequest" />
      <output message="inno:UserParkResponse" />
    </operation>
    <operation name="UserLocalNum">
      <input message="inno:UserLocalNumRequest" />
      <output message="inno:UserLocalNumResponse" />
    </operation>
    <operation name="FindUser">
      <input message="inno:FindUserRequest" />
      <output message="inno:FindUserResponse" />
    </operation>
    <operation name="LocationUrl">
      <input message="inno:LocationUrlRequest" />
      <output message="inno:LocationUrlResponse" />
    </operation>
  </portType>
  <binding name="pbxBinding" type="inno:pbxPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="Version">
      <soap:operation soapAction="http://innovaphone.com/pbx#Version" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Echo">
      <soap:operation soapAction="http://innovaphone.com/pbx#Echo" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone/binding" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone/binding" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Admin">
      <soap:operation soapAction="http://innovaphone.com/pbx#Admin" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Initialize">
      <soap:operation soapAction="http://innovaphone.com/pbx#Initialize" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="End">
      <soap:operation soapAction="http://innovaphone.com/pbx#End" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Poll">
      <soap:operation soapAction="http://innovaphone.com/pbx#Poll" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="License">
      <soap:operation soapAction="http://innovaphone.com/pbx#License" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Calls">
      <soap:operation soapAction="http://innovaphone.com/pbx#Calls" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserInitialize">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserInitialize" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserEnd">
      <soap:operation soapAction="capeconnect:pbx:pbxPortType#UserEnd" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone/binding" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone/binding" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserCall">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserCall" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserClear">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserClear" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserConnect">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserConnect" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserPickup">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserPickup" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserRedirect">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserRedirect" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserReroute">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserReroute" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserTransfer">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserTransfer" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserCtComplete">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserCtComplete" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserHold">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserHold" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserRetrieve">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserRetrieve" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserPark">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserPark" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="UserLocalNum">
      <soap:operation soapAction="http://innovaphone.com/pbx#UserLocalNum" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="FindUser">
      <soap:operation soapAction="http://innovaphone.com/pbx#FindUser" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="LocationUrl">
      <soap:operation soapAction="http://innovaphone.com/pbx#LocationUrl" />
      <input>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://innovaphone.com/pbx" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="pbx">
    <port name="pbxPort" binding="inno:pbxBinding">
      <soap:address location="http://192.168.0.1/PBX0/user.soap" />
    </port>
  </service>
</definitions>